snippet req
	= require('${1:module}')

snippet con
	console.${1:log}(${2:});

snippet fun2
	function${1:} (${2:}) {
		${3:}
	}

snippet it
	it('${1:}', function () {
		${2:}
	});

snippet desc
	describe('${1:}', function () {
		${2:}
	});

snippet exp
	expect(${1:});
